<ion-header>
  <ion-navbar>
    <ion-title>Update</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  #popoverContent>

  <ion-card class="adv-map" (tap)="modifySelfIntroduction(shop)">
      <img [src]=shop.creatorImageURL>
    <a class="fab-favorite">
      <ion-icon name='build'></ion-icon>
    </a>

    <ion-card-content>
      <ion-card-title>{{shop.creatorName}}</ion-card-title>
      <p>{{shop.creatorIntroduction}}</p>
    </ion-card-content>

    <!--<ion-row style="padding: 0 0.5em" >
      <ion-col>
        <button ion-button clear style="padding: 0 0 0 0.3em">
          <ion-icon name='thumbs-up'></ion-icon>
          Like
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear (tap)="showCommentBox=!showCommentBox">
          <ion-icon name='text'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear style="padding: 0 0.3em 0 0">
          <ion-icon name='share-alt'></ion-icon>
          Check blog
        </button>
      </ion-col>
    </ion-row>-->

  </ion-card>

  <!--<ion-card class="highLightsCard">
    <div class="spaceLine"></div>
    <ion-card-header>
      Comments
    </ion-card-header>
    <ion-list  *ngFor="let commentContent of shop.comment" >
      <ion-item>
        <ion-avatar item-left>
          <img src="{{'images/' + commentContent.username + '.userImage.jpg'}}">
        </ion-avatar>
        <p style="float:right">{{commentContent.posted | date:'yyyy/MM/dd hh:mm:ss'}}</p>
        <p>{{commentContent.username}}</p>
        <h3>{{commentContent.text}}</h3>
      </ion-item>
    </ion-list>
  </ion-card>-->

    <ion-list *ngFor="let product of shopDetails" approxItemHeight="50px">
      <ion-card class="adv-map" (tap)="modifyProduct(product)">
        <div style="position: relative">
          <ion-slides>
            <ion-slide>
                <img class="bigImage" [src]="product.imageURL" >
              <a class="fab-favorite" >
                <ion-icon name='build'></ion-icon>
              </a>
              <div class="fab-time">
                <ion-icon name='time-outline'></ion-icon>
                <span>{{product.time}}分</span>
              </div>
            </ion-slide>

          </ion-slides>

        </div>

        <ion-item class="cardIntroduction">
          <span item-left >{{product.productName}}</span>
          <span >{{product.creatorName}}</span>
        </ion-item>
      </ion-card>

    </ion-list>
</ion-content>
